.globalperroshome{
   background-color: white;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 150vh;
}



.contenedortestimoniohome{

    width: 1170;
    height: 318;
    margin: 10px 10px 50px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 /9%);
    
}

.imagentestimoniohome{
    height: 155px;
    width: auto;
}

.contenedortextotestimoniohome{
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    font-family: Lato, sans-serif;
    line-height: 1.5rem;


}

.nombretestimoniohome{
    font-size: 1.3rem;
    text-shadow: none;
}

.cargotestimoniohome{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 10px;
}
.textotestimoniohome{
    font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
	color:black;
	font-size: 14px;
    text-shadow: none;
    text-align: justify;
}